################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Poinator/x64/Debug
/Poinator/x64/Release/Poinator.tlog
/x64
/Poinator/x64/Release
