################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
/CLI/x64/Release
/Core/x64
/discord_poinator_bot/bin/x64
/discord_poinator_bot/obj
/discord_poinator_bot/Static/Token/ApiSettings.cs
/packages
/DllTest/x64/Debug
/DllTest/x64/Release
/DllTestCs/bin/x64
/DllTestCs/obj
