<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="_0" value="No chanse|Extra fail|No way" />
    <add key="_1" value="Fail" />
    <add key="_2" value="Fail" />
    <add key="_3" value="Fail" />
    <add key="_4" value="Fail" />
    <add key="_5" value="Fail" />
    <add key="_6" value="Fail" />
    <add key="_7" value="Fail" />
    <add key="_8" value="Fail" />
    <add key="_9" value="Fail" />
    <add key="_10" value="Middle" />
    <add key="_11" value="Great" />
    <add key="_12" value="Great" />
    <add key="_13" value="Great" />
    <add key="_14" value="Great" />
    <add key="_15" value="Great" />
    <add key="_16" value="Great" />
    <add key="_17" value="Great" />
    <add key="_18" value="Great" />
    <add key="_19" value="Great" />
    <add key="_20" value="You're lucky" />
  </appSettings>
</configuration>